.bg-user{
    background-image: url('https://img.freepik.com/free-vector/realistic-vegetables-isolated-illustration_1284-61331.jpg?semt=ais_hybrid&w=740&q=80');
    background-size: cover;
}

.banned-div {
  animation: blink 1s infinite;
  border: 2px solid red;
  padding: 10px;
  background-color: #ffe5e5;
}

.banned-message {
  color: red;
  font-weight: bold;
  text-align: center;
}

@keyframes blink {
  0%   { opacity: 1; }
  50%  { opacity: 0.4; }
  100% { opacity: 1; }
}
