<div class="bg-dark text-light p-1 px-5">
  <h4 class="">Farmer Dashboard</h4>
</div>
<div class="px-5 pt-4">
  <!-- Customer Info -->
  <div class="card shadow mb-4">
    <div class="card-body">
      <section class="row">
        <div class="col-md-1">
          <img
            width="70"
            height="70"
            src="{{ farmarDetails.farmerImage }}"
            class="rounded"
            alt="Customer Photo"
          />
        </div>
        <div class="col-md-4">
          <p>
            <strong>Name:</strong> {{ farmarDetails.farmerFirstName }}
            {{ farmarDetails.farmerLastName }}
          </p>
          <p><strong>Contact:</strong> {{ farmarDetails.farmerPhone }}</p>
        </div>
        <div class="col-md-4">
          <p><strong>Email:</strong> {{ farmarDetails.farmerEmail }}</p>
          <p><strong>Address:</strong> {{ farmarDetails.farmerAddress }}</p>
        </div>
        <div class="col-md-3 text-end">
          <button class="btn btn-sm btn-success mx-2" (click)="goBack()">Back To Home</button>
          <button class="btn btn-sm btn-danger" (click)="logout()">
            <i class="fa fa-sign-out"></i> Logout
          </button>
        </div>
      </section>
    </div>
  </div>
  <!-- Tabs -->
  <ul class="nav nav-tabs" id="dashboardTabs" role="tablist">
    <li class="nav-item" role="presentation">
      <button
        class="nav-link active"
        id="orders-tab"
        data-bs-toggle="tab"
        data-bs-target="#orders"
        type="button"
        role="tab"
      >
        Orders
      </button>
    </li>
    <li class="nav-item" role="presentation">
      <button
        class="nav-link"
        id="add-product-tab"
        data-bs-toggle="tab"
        data-bs-target="#add-product"
        type="button"
        role="tab"
      >
        Add New Product
      </button>
    </li>
    <li class="nav-item" role="presentation">
      <button
        class="nav-link"
        id="product-list-tab"
        data-bs-toggle="tab"
        data-bs-target="#product-list"
        type="button"
        role="tab"
      >
        Product List
      </button>
    </li>
  </ul>

  <div class="tab-content mt-3" id="dashboardTabsContent">
    <!-- Orders Tab -->
    <div class="tab-pane fade show active" id="orders" role="tabpanel">
      @for (order of orders(); track order.orderId) {
        <div class="card mb-2">
          <div class="card-body">
            <section class="row">
              <div class="col-md-3">
                <img [src]="order.productImage" alt="img" width="100" /><br />
                @if (order.status == 'open') {
                  <button class="btn btn-sm btn-warning" (click)="changeStatus(order.orderId)">
                    InProgress
                  </button>
                }
                @if (order.status == 'open') {
                  <button class="btn btn-sm btn-info m-1" (click)="changeStatus2(order.orderId)">
                    Cancel
                  </button>
                }
              </div>
              <div class="col-md-3">
                <b class="text-primary">Prodect Detials</b><br />
                <small>Name: {{ order.productName }}</small
                ><br />
                <small>Price: {{ order.productPrice }}</small
                ><br />
                <small>Quantity: {{ order.productQuantity }}</small
                ><br />
                <small class="text-success">Status: {{ order.status }}</small
                ><br />
              </div>
              <div class="col-md-3">
                <b class="text-primary">Customer Detials</b><br />
                <small>Name: {{ order.customerFirstName }} {{ order.customerLastName }}</small
                ><br />
                <small>Email: {{ order.customerEmail }}</small
                ><br />
                <small>Phone: {{ order.customerPhone }}</small
                ><br />
                <small>Address: {{ order.customerAddress }}</small>
              </div>
              <div class="col-md-3">
                <b class="text-primary">Addtional Details</b><br />
                <small>Name: {{ order.orderName }}</small
                ><br />
                <small>Email: {{ order.orderEmail }}</small
                ><br />
                <small>Phone: {{ order.orderPhone }}</small
                ><br />
                <small>Address: {{ order.orderAddress }}</small
                ><br />
              </div>
            </section>
          </div>
        </div>
      } @empty {
        <p>No orders found.</p>
      }
    </div>

    <!-- Product List Orders Tab -->
    <div class="tab-pane fade" id="add-product" role="tabpanel">
      <div class="container justify-content-center align-items-center">
        <div class="card shadow-lg p-4 mt-5">
          <h3 class="text-center mb-4">Add New Product</h3>
          <form (ngSubmit)="onSubmit(productForm)" #productForm="ngForm" class="row">
            <!-- Product Name -->
            <div class="pt-2 col-md-6">
              <label>Product Name:</label>
              <input
                class="form-control"
                type="text"
                name="name"
                [(ngModel)]="product.name"
                required
                minlength="3"
                #name="ngModel"
              />
              <div class="text-danger" *ngIf="name.invalid && name.touched">
                Product name is required and must be at least 3 characters.
              </div>
            </div>

            <!-- Image URL -->
            <div class="pt-2 col-md-6">
              <label>Image URL:</label>
              <input
                class="form-control"
                type="text"
                name="image"
                [(ngModel)]="product.image"
                required
                #image="ngModel"
              />
              <div class="text-danger" *ngIf="image.invalid && image.touched">
                Image URL is required.
              </div>
            </div>

            <!-- Price -->
            <div class="pt-2 col-md-6">
              <label>Price:</label>
              <input
                class="form-control"
                type="number"
                name="price"
                [(ngModel)]="product.price"
                required
                min="1"
                #price="ngModel"
              />
              <div class="text-danger" *ngIf="price.invalid && price.touched">
                Price is required and must be greater than 0.
              </div>
            </div>

            <!-- Quantity -->
            <div class="pt-2 col-md-6">
              <label>Quantity:</label>
              <input
                class="form-control"
                type="number"
                name="quantity"
                [(ngModel)]="product.quantity"
                required
                min="1"
                #quantity="ngModel"
              />
              <div class="text-danger" *ngIf="quantity.invalid && quantity.touched">
                Quantity is required and must be at least 1.
              </div>
            </div>

            <!-- Buttons -->
            <div class="col-md-12 pt-3">
              <button type="submit" class="btn btn-sm btn-success" [disabled]="productForm.invalid">
                Add Product
              </button>
              <button type="reset" class="btn btn-sm btn-danger mx-3">Cancel</button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <!-- Product List Orders Tab -->
    <div class="tab-pane fade" id="product-list" role="tabpanel">
      <table class="table table-bordered table-striped">
        <thead class="table-dark">
          <tr>
            <th>Product ID</th>
            <th>Product</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Image</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          @for (x of allmyProduct(); track x.id) {
            <tr>
              <td>{{ x.id }}</td>
              <td>{{ x.name }}</td>
              <td>{{ x.quantity }}</td>
              <td>{{ x.price }}</td>
              <td><img [src]="x.image" width="80" /></td>
              <td>
                <button class="btn btn-sm btn-danger" (click)="deleteProduct(x.id)">Delete</button>
                <!-- <button class="btn btn-sm btn-primary mx-2">Edit</button> -->
              </td>
            </tr>
          } @empty {
            <tr>
              <td colspan="6">Data not Found</td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  </div>
</div>
<app-footer></app-footer>
